<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="locationsjs">
<script>
        $('#view').click(function (e) {
            e.preventDefault();
            var city = $("#city").val().toLowerCase().split(' ').join('%20');
            var state = $("#state").val().toLowerCase().split(' ').join('%20');
            var country = $("#country").val().toLowerCase().split(' ').join('%20');


            let longStr = city.concat("%20").concat(state);
            console.log(longStr);

            var respCity;
            var respState;
            var respCountry;
            $.ajax({
                url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + longStr + '.json?access_token=pk.eyJ1IjoiYnJpZGdldG1pbGxzIiwiYSI6ImNqemloYXVlazEzZGQzY3BoeTJ5N2xicmEifQ.c8m3gGOrooUHDV7g_frHMA',
                type: 'GET',
                success: function (geoData) {
                    console.log(geoData);
                    for (var i = 0; i <= geoData.features[0].context.length; i++) {
                        document.getElementById('a').innerHTML = geoData.features[1].context.slice(-3)[0].text;
                        respCity = geoData.features[1].context.slice(-3)[0].text;
                        // getCity(respCity);
                    }


                    for (var i = 0; i <= geoData.features[0].context.length; i++) {
                        document.getElementById('b').innerHTML = geoData.features[1].context.slice(-2)[0].text;

                        respState = geoData.features[1].context.slice(-2)[0].text;
                        // getState(respState);
                    }

                    for (var i = 0; i <= geoData.features[0].context.length; i++) {
                        document.getElementById('c').innerHTML = geoData.features[0].context.slice(-1)[0].text;
                        respCountry = geoData.features[0].context.slice(-1)[0].text;
                        // getCountry(respCountry);
                    }

                    getLocation(respCity, respState, respCountry);
                }
            });

        });


        function getLocation(respCity, respState, respCountry) {

            $('#location').val(respCity + ", " + respState + " " + respCountry);
            console.log($('#location').val());

        }


        $("#form2").submit(function (e) {
            e.preventDefault();
            var thelocation = document.getElementById("location");
            console.log(thelocation.value);

            // var thestate = document.getElementById("sqlState");
            // var thecountry = document.getElementById("sqlCountry");
            // console.log(thecity.value);
            // console.log(thestate.value);

        });


</script>
</th:block>
</html>