<!-- minified snippet to load TalkJS without delaying your page -->
<html xmlns:th="http://www.thymeleaf.org">
<script>
    (function(t,a,l,k,j,s){
        s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
        ;k=t.Promise;t.Talk={v:2,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
                    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
</script>

<!-- container element in which TalkJS will display a chat UI -->
<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px"><i>Loading chat...</i></div>


<!-- TalkJS initialization code, which we'll customize in the next steps -->

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script>


    var currentUser;
    var otherUser;
    var pathVariable =location.pathname.split("/")[3];

    fetch("/users/chat/" + pathVariable)
        .then(response => response.json())
        .then(data => {
            currentUser = data[0];
            otherUser = data[1];
            logDataset();
        });

    function logDataset () {
        console.log(currentUser.email);

        Talk.ready.then(function() {

            var me = new Talk.User({
                id: currentUser.id,
                name: currentUser.profile.firstName,
                email: currentUser.email,
                photoUrl: "https://demo.talkjs.com/img/alice.jpg",
                welcomeMessage: "Hey there! How are you? :-)"
            });
            window.talkSession = new Talk.Session({
                appId: "toAwBOgu",
                me: me
            });




            var other = new Talk.User({
                id: otherUser.id,
                name: otherUser.profile.firstName,
                email: otherUser.email,
                photoUrl: "https://demo.talkjs.com/img/sebastian.jpg",
                welcomeMessage: "Hey, how can I help?"
            });


            var conversation = talkSession.getOrCreateConversation(Talk.oneOnOneId(me, other));
            conversation.setParticipant(me);
            conversation.setParticipant(other);
            var inbox = talkSession.createInbox({selected: conversation});
            inbox.mount(document.getElementById("talkjs-container"));
        });
    }
</script>