

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Log In</title>
    <th:block th:replace="fragments/header :: login-header"/>
</head>
<body>
<div class="alert alert-danger" role="alert" th:if="${param.error}">
    Invalid Username and Password.
</div>
<div class="alert alert-success" role="alert" th:if="${param.logout}">
    You have been logged out.
</div>
<div class="login-reg-panel">
    <div class="login-info-box">
        <h2>Have an account?</h2>
        <p>Welcome back!</p>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
    </div>

    <div class="register-info-box">
        <h2>Don't have an account?</h2>
        <p>Join us!</p>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
    </div>

    <div class="white-panel">
        <div class="login-show">
            <form th:action="@{/login}" method="post">
                <h2>LOGIN</h2>
                <input id="username" name="username" type="text" placeholder="Username"/>
                <input id="password" name="password" type="password" placeholder="Password"/>
                <input type="submit" value="Log In"/>
            </form>
        </div>
        <div class="register-show">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                <h2>REGISTER</h2>
                <input type="text" th:field="*{username}" placeholder="Username">
                <input type="email" th:field="*{email}" placeholder="Email">
                <input type="password" th:field="*{password}" placeholder="Password">
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>


<!--MOBILE VIEW-->

<Div id="mobile-login">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="form-group">
            <form th:action="@{/login}" method="post">
                <h2>LOGIN</h2>
                <input class="form-control" id="username1" name="username" type="text" placeholder="Username"/>
                <input class="form-control"  id="password1" name="password" type="password" placeholder="Password"/>
                <button type="button" class="btn btn-outline-info">Login</button>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="form group">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                <h2>REGISTER</h2>
                <input class="form-control" type="text" th:field="*{username}" placeholder="Username">
                <input class="form-control"  type="email" th:field="*{email}" placeholder="Email">
                <input class="form-control"  type="password" th:field="*{password}" placeholder="Password">
                <button type="button" class="btn btn-outline-info">Register</button>
            </form>
        </div>
    </div>

</div>

</Div>



<th:block th:replace="fragments/footer :: login-footer"/>

</body>
</html>