

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Log In</title>
    <th:block th:replace="fragments/header :: login-header"/>
    <style>
        .red-text{
            color: darkred;
        }


    </style>
</head>
<body>



<!--    <p th:if="${!missing.isEmpty()}" class="alert alert-danger" role="alert" th:text="${missing}" ></p>-->

<div class="login-reg-panel">
    <div class="login-info-box">
        <h2>Have an account?</h2>
        <p>Welcome back!</p>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
    </div>

    <div class="register-info-box">
        <h2>Don't have an account?</h2>
        <p>Join us!</p>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
    </div>

    <div class="white-panel">
        <div class="login-show">
            <form th:action="@{/login}" method="post">
                <div class="alert alert-danger" role="alert" th:if="${param.error}">
                    Invalid Username and Password.
                </div>
                <div class="logout-txt alert alert-info" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <h2>LOGIN</h2>
                <p class="red-text" th:text="${takenUsername}"></p>
                <p class="red-text"  th:text="${takenEmail}"></p>
                <input id="username" name="username" type="text" placeholder="Username" required="required"/>
                <input id="password" name="password" type="password" placeholder="Password" required="required"/>
                <input class="login-btns" type="submit" value="Log In"/>
            </form>
        </div>
        <div class="register-show">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                <h2>REGISTER</h2>
                <input type="text" th:field="*{username}" placeholder="Username" required="required">
                <input type="email" th:field="*{email}" placeholder="Email" required="required">
                <input class="regpass" type="password" th:field="*{password}" placeholder="Password" required="required">
                <input class="confirm_password" type="password" placeholder=" Confirm Password" required="required"><span class="message"></span><br>
                <input class="login-btns" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>


<!--MOBILE VIEW-->
<div id="jc" class="container">
    <div class="jumbotron jumbotron-fluid">
        <p id="jumbo"><img alt="logo" src="/img/battlelogo_4.png"  width="160" height="50"></p>

    </div>
</div>

<div class="container" id="mobile-login">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="alert alert-danger" role="alert" th:if="${param.error}">
                            Invalid Username and Password.
                        </div>
                        <div class="logout-txt alert alert-info" th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <div class="col-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>


                        <div class="col-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>


                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" th:action="@{/login}"  method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username1" tabindex="1" class="form-control" placeholder="Username" value="" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password1" tabindex="2" class="form-control" placeholder="Password" required="required">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <form id="register-form" th:action="@{/sign-up}"  th:object="${user}" method="post" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username2" tabindex="1" th:field="*{username}" class="form-control" placeholder="Username" value="" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" th:field="*{email}" placeholder="Email Address" value="" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password2" tabindex="2" class="form-control regpassM" th:field="*{password}" placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <input  type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control confirm_passwordM" placeholder="Confirm Password" required="required">
                                    <span class="messageM"></span><br>
                                </div>
                                <div class="form-group">



                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<th:block th:replace="fragments/footer :: login-footer"/>


<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('.regpass, .confirm_password').on('keyup', function () {
            if ($('.regpass').val() == $('.confirm_password').val()) {
                $('.message').html('Passwords match').css('color', 'green');
            } else
                $('.message').html('Password does not match').css('color', 'red');
        });

        $('.regpassM, .confirm_passwordM').on('keyup', function () {
            if ($('.regpassM').val() == $('.confirm_passwordM').val()) {
                $('.messageM').html('Passwords match').css('color', 'green');
            } else
                $('.messageM').html('Password does not match').css('color', 'red');
        });

    });

</script>

</body>

</html>