<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });

    </script>
    <title>Tell us about yourself!</title>


</head>
<body>
    <div class="container">
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1">Basic Info</a></li>
            <li class="tab col s3"><a class="active" href="#test-swipe-2">Service Detail</a></li>
            <li class="tab col s3"><a href="#test-swipe-3">Additional Info</a></li>
        </ul>
        <div id="test-swipe-1" class="col s12">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="input-field col s3">
                            <select>
                                <option value="" disabled selected>gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            <label>Select gender</label>
                        </div>
                        <div class = "input-field col s6">
                            <input type = "date" class = "datepicker"/>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div id="test-swipe-2" class="col s12">test 2</div>
        <div id="test-swipe-3" class="col s12">Test 3</div>
    </div>






</body>
</html>