<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Tell us about yourself!</title>

</head>
<body>
<div class="container">
    <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a href="#Basic-info">Basic Info</a></li>
        <li class="tab col s3"><a href="#Service-details">Service Detail</a></li>
    </ul>
    <form>
        <div id="Basic-info" class="col s12">

            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
                <!--                        gender pick start-->
                <div class="input-field col s6">
                    <select>
                        <option value="" disabled selected>gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <label>Select gender</label>
                </div>
                <!--                        gender pick end-->

                <!--                        DOB start-->

                <div class="input-field col s6">
                    <input type="date" class="datepicker"/>

                </div>
                <!--                        DOB end-->

                <!--                        pick hobbies and traits-->
                <div class="input-field col s6">
                    <select multiple>
                        <option value="" disabled selected>Choose your traits</option>
                        <option value="1">Giving</option>
                        <option value="2">Clever</option>
                        <option value="3">Honest</option>
                        <option value="4">Ambitious</option>
                        <option value="5">Easygoing</option>
                        <option value="6">Quiet</option>
                        <option value="7">Insightful</option>
                        <option value="8">Devoted</option>
                        <option value="9">Confident</option>
                        <option value="10">Adventurous</option>
                        <option value="11">Wise</option>
                        <option value="12">Focused</option>
                        <option value="13">Friendly</option>
                        <option value="14">Open minded</option>
                        <option value="15">Dependable</option>
                        <option value="16">Generous</option>
                        <option value="17">Strong</option>
                        <option value="18">Loyal</option>
                        <option value="19">Hard Working</option>
                        <option value="20">Creative</option>
                    </select>
                    <label>Pick 5 traits that best describe you</label>
                </div>
                <div class="input-field col s6">
                    <select multiple>
                        <option value="" disabled selected>Choose your hobbies</option>
                        <option value="1">Gardening</option>
                        <option value="2">Cooking</option>
                        <option value="3">Learning</option>
                        <option value="4">Writing</option>
                        <option value="5">Dance</option>
                        <option value="6">Photography</option>
                        <option value="7">Hiking</option>
                        <option value="8">Drawing/Painting</option>
                        <option value="9">Hunting</option>
                        <option value="10">Sewing</option>
                        <option value="11">Sports/Extreme Sports</option>
                        <option value="12">Programming</option>
                        <option value="13">Biking</option>
                        <option value="14">Camping</option>
                        <option value="15">Wood Working</option>
                        <option value="16">Pottery</option>
                        <option value="17">Exercising</option>
                        <option value="18">Traveling</option>
                        <option value="19">Playing Instruments</option>
                        <option value="20">Volunteer Work</option>
                    </select>
                    <label>Pick 5 hobbies that interest you</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" data-length="2000"></textarea>
                    <label for="textarea1">Tell us more about yourself! Write a bio or share some interesting
                        facts!</label>
                </div>
                <!--                        end hobbies and traits-->
            </div>

<!--            children start -->
                <p>Adding your children will help us match you with friends that have children the same age! </p>
            <div id ="formbody" class="input-field col s6 input_fields_wrap">
                <button class="btn add_field_button">Add another child</button>
                <div>
               <input type="date" name="dob">
                    <input type="text" name="gender" placeholder="Gender">
                </div>
            </div>


        </div>

        <!--        start of second tab-->
        <div id="Service-details" class="col s12">
            <div class="row">

                <!--                rank start-->
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>Rank</option>
                        <option value="1">E1</option>
                        <option value="2">E2</option>
                        <option value="3">E3</option>
                        <option value="4">E4</option>
                        <option value="5">E5</option>
                        <option value="6">E6</option>
                        <option value="7">E7</option>
                        <option value="8">E8</option>
                        <option value="9">E9</option>
                        <option value="10">O1</option>
                        <option value="11">O2</option>
                        <option value="12">O3</option>
                        <option value="13">O4</option>
                        <option value="14">O5</option>
                        <option value="15">O6</option>
                        <option value="16">O7</option>
                        <option value="17">O8</option>
                        <option value="18">O9</option>
                        <option value="19">O10</option>
                    </select>
                    <label>Please select your rank</label>
                </div>
                <!--                rank end-->

                <!--                branch start-->
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>Branch</option>
                        <option value="1">Army</option>
                        <option value="2">Marine Corps</option>
                        <option value="3">Navy</option>
                        <option value="4">Air Force</option>
                        <option value="5">Coast Guard</option>
                    </select>
                    <label>Please select your branch</label>
                </div>
                <!--                branch end-->
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>Yes or No</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                    <label>Are you signing up as a military spouse?</label>
                </div>
                <div class="row col s6">
                    <h3>Location will go here</h3>
                </div>
            </div>
            <!--           row end-->
        </div>
    </form>
</div>
<!--    main container end-->

    <script>
        $(document).ready(function () {
            $('select').material_select();

        });



            var max_fields      = 10; //maximum input boxes allowed
            var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID
            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                    x++; //text box increment
                    $(wrapper).append('<div><input type="date" name="dob"/>\n' +
                        '                    <input type="text" name="gender" placeholder="gender"><a href="#" class="remove_field">Remove</a></div>'); //add input box
                }
            });
            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
            })


    </script>

</body>
</html>