@media only screen and (min-device-width : 320px) and (max-device-width : 849px) {

    .loginlink{
        text-align: center;
        font-size: 20px;
    }

    .page-footer{
        height: 100px;
        width: auto;
    }

    h2{
        text-align: center;
        font-family: 'monsterrat';
    }

    #infomobile{
        font-size: 22px;
        text-align: center;
        font-family: 'Raleway';
    }

    #otherdesktop {
        display: none;

    }

    #hi2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hi{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav{
        position: fixed;
        z-index: 1000;
    }



    #desktop{
        display: none;
    }

    .picons2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-family: 'Raleway';
    }


    #cal2,#fri2,#heart2 {
        font-size: 20px;
        padding: 5px;

    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .mobilep {

    }

    .nav-wrapper{
        background-color: #616161 !important;
    }

    .nav-color{
        background-color: #616161!important;
    }
    .btn-color{
        background-color: #616161 !important;
    }

    .hiUser{
        color:#121e3e;
        font-family: 'Raleway';

    }
    .linked{
        font-family: 'Raleway';
        font-size: 20px;
        text-align: center;
        color: #022451;
    }
    .link{
        text-align: center;
        font-family: 'Raleway';
        font-size: 20px;
        color: #022451;
    }

    .lin{
        color: #022451;
    }

}
@media only screen and (min-device-width : 850px) and (max-device-width : 3000px) {

    .loginlink{
        text-align: center;
        font-family: 'Raleway';
    }

    h2{
        text-align: center;
        font-family: 'monsterrat';
    }

    #info{
        font-size: 22px;
        text-align: center;
        font-family: 'Raleway';
    }

    #cal,#fri,#heart {
        font-size: 80px;
        padding: 15px;

    }
    nav{
        position: fixed;
        z-index: 1000;
        font-family: 'Raleway', sans-serif;

    }

    #icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .picons{
        font-size: 22px;
        font-family: 'Raleway';
    }

    #mobilepara{
        display: none;
    }
    #othermobile{
        display: none;
    }

    .parallax-container {
        height: 370px;
        border-bottom: 5px solid black;
    }
    .transbox {
        margin-top: 11em !important;
    background-color: rgba(14, 23, 46,0.7);
    }

    .battlelogo{
        height:80px;
        width: 600px;
        margin-top:.5em;

    }
    .home-icons{
        margin-left:1em;
    }

    .hiUser{
        color:#121e3e;
        font-family: 'Raleway';
    }

.nav-color{
    background-color: #121e3e !important;
}

    a.nav-link{
        font-size:1.3em !important;

    }
body {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
}

#hi{
      display: flex;
      justify-content: center;
      align-items: center;
    margin-top: 20px;
  }

    #hi2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .linked{
        font-family: 'Raleway';
        font-size: 20px;
        text-align: center;
        color: #022451;
    }
    .lin{
        color: #022451;
    }


.link{
    text-align: center;
    font-family: 'Raleway';
    font-size: 20px;
    color: #022451;
}
.links{
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
}

main {
    flex: 1 0 auto;
}

    .page-footer{
        height: 100px;
        width: auto;
    }

    .nav-wrapper{
        background-color: #424242 !important;
    }

    .nav-color{
        background-color: #424242!important;
    }
    .btn-color{
        background-color: #424242 !important;
    }


}