@media only screen and (min-device-width : 320px) and (max-device-width : 849px) {

    .loginlink{
        text-align: center;
        font-size: 20px;
    }

    h2{
        text-align: center;
    }

    #infomobile{
        font-size: 22px;
        text-align: center;
    }

    #otherdesktop {
        display: none;

    }

    #deskfooter{
        display: none;
    }

    #desktop{
        display: none;
    }

    .picons2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }


    #cal2,#fri2,#heart2 {
        font-size: 20px;
        padding: 5px;

    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .mobilep {
        height: 200px;
    }

    .nav-wrapper{
        background-color: #616161 !important;
    }

    .nav-color{
        background-color: #616161!important;
    }
    .btn-color{
        background-color: #616161 !important;
    }


}
@media only screen and (min-device-width : 850px) and (max-device-width : 3000px) {

    .loginlink{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    #info{
        font-size: 22px;
        text-align: center;
    }

    #cal,#fri,#heart {
        font-size: 80px;
        padding: 15px;

    }

    #icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .picons{
        font-size: 18px;
    }

    #mobilepara{
        display: none;
    }
    #othermobile{
        display: none;
    }

    #mobilefooter{
        display: none;
    }

    .parallax-container {
        height: 370px;
    }
    .transbox {
        margin-top: 11em !important;
    }

    .battlelogo{
        height:80px;
        width: 520px;

    }
    .home-icons{
        margin-left:1em;
    }

    .hiUser{
        color:#121e3e;
    }

.nav-color{
    background-color: #121e3e !important;
}

    a.nav-link{
        font-size:1.3em !important;

    }
body {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
}

#hi{
    display: flex;
    justify-content: center;
    align-items: center;
}

    #hi2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

.link{
    text-align: center;

}

/*main {*/
/*    flex: 1 0 auto;*/
/*}*/

    .page-footer{
        height: 200px;
        width: auto;
    }

    .nav-wrapper{
        background-color: #424242 !important;
    }

    .nav-color{
        background-color: #424242!important;
    }
    .btn-color{
        background-color: #424242 !important;
    }
}