

html, body {
    height: 100%;

    /* Location of the image */
    background-image: url("/img/flag_bg.jpg");

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

/* For mobile devices */
@media only screen and (max-width: 815px) {
    body {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-image: url("/img/flag_bg.jpg");

    }
}
@font-face {
    font-family: 'Militia';
    src: url('Militia-Regular.woff2') format('woff2'),
    url('Militia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bb{
    font-family: 'Militia', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.pin-top {
    position: relative;
}


.pin-bottom {
    position: relative;
}


.pinned {
    position: fixed !important;
}

.block {
    height: 100%;
}

.divider {
    height: 50px;
}


div.background {
    background: url("/img/polo3.png") no-repeat;
    height:60em;
    transform: rotate(-5deg);
    margin-left: 13em;
    margin-top: 4em;

}

div.transbox {
    margin: 30px;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
.logo_txt{
    margin-top:3.8em;
}
.home-container{
    display: flex;
    justify-content: space-between;
    width:100%

}
.navdesign{
height: 99px !important;
line-height: 99px !important;
}
