


.navdesign{
    height:99px !important;
    line-height: 99px !important;
}

nav{
    position: fixed;
    z-index: 1000;
}


/*card {*/
/*    width: 300px;*/
/*    padding: 10px 0 10px;*/
/*    background-color: #cccccc;*/
/*    text-align: center;*/
/*}*/