

.brand-logo{
    margin-top: .4em !important;
    height: 100px;
}

.right{
    margin-top: .3em !important;


}
a.nav-link{
    font-size:1.3em !important;

}

.left{
    margin-top: .3em !important;
}

.nav-wrapper{
    background-color: #424242 !important;
}

.nav-color{
    background-color: #424242!important;
}
.btn-color{
    background-color: #424242 !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

