

.brand-logo{
    margin-top: .2em !important;
    height: 100px;
}


a.nav-link{
    font-size:1.3em !important;

}



.nav-wrapper{
    background-color: #424242 !important;
    height:66px !important;
    line-height: 66px !important;
}

.nav-color{
    background-color: #424242!important;
}
.btn-color{
    background-color: #022451 !important;
    color:white !important;
}

/*body {*/

/*     max-height: 100%;*/

/* }*/

/*main {*/
/*    flex: 1 0 auto;*/
/*}*/

