

.brand-logo{
    margin-top: .4em !important;
    height: 100px;
}

.right{
    margin-top: .3em !important;


}
a.nav-link{
    font-size:1.3em !important;

}
.left{
    margin-top: .3em !important;
}

.nav-wrapper{
    background-color: #616161 !important;
}

.nav-color{
    background-color: #616161!important;
}
.btn-color{
    background-color: #616161 !important;
}
