<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2b3d28a04d.js" crossorigin="anonymous"></script>
    <title>About Us</title>

    <th:block th:replace="fragments/header :: home-header"/>

    <style>
        .portal{
            color: #0D47A1;
        }
    </style>

</head>



<div>
    <th:block th:replace="fragments/nav-bar :: home-blue"/>
</div>


<div id="desktop">


    <div class="parallax-container">
        <div class="transbox center">
            <img class="battlelogo"src="/img/battlelogo_4.png">
        </div>


        <div class="parallax"><img src="/img/flag_bg.jpg">
        </div>
    </div>
</div>
<!--DESKTOP VIEW-->

    <div id="otherdesktop" class="section white">

        <div class="row container">
            <h2 class="header">ABOUT US</h2>

<!--           BRIDGET CARD-->
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/BridgetM.jpg"  width="230"/>

                            <span class="card-title">BRIDGET MILLS</span>
                        </div>
                        <div class="card-content">
                            <p>I'm dedicated to continuous learning in order to be one of best Software Developer's ever.<br></p>
                            <br>
                        </div>
                        <div class="card-action">
                            <a class="blue-text"  href="https://alumni.codeup.com/students/711">My Portal</a>
                        </div>
                    </div>
                </div>



<!--            DANI CARD-->


                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/Danielle.jpg"  width="230"/>

                            <span class="card-title">DANIELLE LANE</span>
                        </div>
                        <div class="card-content">
                            <p>I am passionate about continuous learning and improvement as a Software Developer.<br></p>
                            <br>

                        </div>
                        <div class="card-action">
                            <a class="blue-text"  href="https://alumni.codeup.com/students/701">My Portal</a>
                        </div>
                    </div>
                </div>




<!--            IZZY CARD-->


                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/Izzy.jpg" width="230"/>

                            <span class="card-title">ISAIAH BRASHEARS</span>
                        </div>
                        <div class="card-content">
                            <p>I'm a Hard working and dedicated individual with a passion for technology.
                                I am a great problem solver and I thrive in high pressure conditions.</p>
                        </div>
                        <div class="card-action">
                            <a class="blue-text" href="https://alumni.codeup.com/students/720">My Portal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--footer-->

    <footer id="deskfooter" class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col s6 s12">
                    <h5 class="white-text">Battle Buddies</h5>
                    <p class="grey-text text-lighten-4"><a th:href="@{'/'}">Home</a></p>
                </div>
            </div>
        </div>

    </footer>


<!--MOBILE VIEW-->

<div id="mobilepara">
    <div class="parallax-container mobilep">
        <div class="parallax"><img src="/img/flag_bgmobile copy.jpg"></div>
    </div>
</div>
<th:block th:if="${user == false}">
    <div id="othermobile" class="section white">
        <div class="row container">


        </div>
        ]
    </div>

    <!--footer-->

    <footer id="mobilefooter" class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col s6 s12">
                    <h5 class="white-text">Battle Buddies</h5>
                    <p class="grey-text text-lighten-4"><a th:href="@{'/login'}">Login or Sign up!</a></p>
                </div>
            </div>
        </div>

    </footer>

</th:block>




<!--JQUERY-->

<script>
    $(".button-collapse").sideNav();
    // $('.carousel.carousel-slider').carousel({fullWidth: true});
    $('.parallax').parallax();


</script>
</body>
</html>
