<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2b3d28a04d.js" crossorigin="anonymous"></script>
    <title>Home</title>

    <th:block th:replace="fragments/header :: home-header"/>

</head>



<div>
    <th:block th:replace="fragments/nav-bar :: home-nav"/>
</div>


<div id="desktop">


    <div class="parallax-container">
              <div class="transbox center">
            <img class="battlelogo"src="/img/logo_bg5.png">
        </div>
    <div class="parallax"><img src="/img/flag_bg.jpg">
    </div>
    </div>
</div>
<!--DESKTOP VIEW-->
<th:block th:if="${user == false}">

<div id="otherdesktop" class="section white">

    <div class="row container">
        <h2 class="header">Welcome to Battle Buddies!</h2>
        <p id="info" class="grey-text text-darken-3 lighten-3"> It can be hard moving every few years, and Battle Buddies wants to make it easy for you to make new connections and friends along the way! Battle Buddies provides a way to make new military friends in the area based off of common traits, hobbies, and local meetups all in one place just for you!</p>
        <div class="home-icons" id="icons">
        <i id="cal" class="fas fa-calendar-alt"></i>
            <p class="picons">Create and attend meetups!</p>
        <i id="fri" class="fas fa-user-friends"></i>
            <p class="picons">Chat and connect with new friends!</p>
        <i id="heart" class="fas fa-heart"></i>
            <p class="picons">Browse friends based on common hobbies or traits!</p>
        </div>
    </div>
    <h5 class="loginlink  waves-light"><a th:href="@{'/login'}">Start making friends! Login or Sign up!</a></h5>
</div>
</th:block>

<!--MOBILE VIEW-->

<div id="mobilepara">
    <div style="height: 200px; margin-top: 15px;" class="parallax-container">
    <div class="parallax"><img src="/img/flag_bgmobilecopy.jpg">
    </div>
    </div>
</div>


    <th:block th:if="${user == false}">
<div id="othermobile" class="section white">
    <div class="row container">
        <h2 class="header">Welcome to Battle Buddies!</h2>
        <p id="infomobile" class="grey-text text-darken-3 lighten-3"> It can be hard moving every few years, and Battle Buddies wants to make it easy for you to make new connections and friends along the way! Battle Buddies provides a way to make new military friends in the area based off of common traits, hobbies, and local meetups all in one place just for you!</p>
        <div id="picons2">
            <p class="picons2"><i id="cal2" class="fas fa-calendar-alt"></i>Create and attend meetups!</p>
            <p class="picons2"><i id="fri2" class="fas fa-user-friends"></i>Chat and connect with new friends!</p>
            <p class="picons2"><i id="heart2" class="fas fa-heart"></i>Browse friends by common interests!</p>
        </div>
    </div>
    <h5 class="loginlink"><a th:href="@{'/login'}">Start making friends! Login or Sign up!</a></h5>

</div>

</th:block>


<!--logic for different homepage for logged in user-->

<div class="section white" sec:authorize="isAuthenticated()">
    <div class="row container">
        <th:block th:if="${loggedUser.profile == null}">

            <div id="hi" class="row">
                <div class="col s12 s12">
                    <div class="card-panel">
          <span class="white-text">
              <h2 class="hiUser">Hi <span th:text="${loggedUser.username}"></span>!</h2>
              <p class="linked">Welcome to Battle Buddies!</p>
              <p class="link"><a href="/users/userdetails">Let's build your profile so you can start making friends!</a></p>
              <p class="linked">Once you have created your profile you can:</p>
              <p class="linked"><i class="fas fa-user-friends"></i> Go to your profile and start making friends!</p>
               <p class="linked"><i class="fas fa-calendar-alt"></i> Create or find meetups in your area!</p>
              <p class="linked"><i class="fas fa-heart"></i> Explore our browse section for new friends with common traits or hobbies!</p>
          </span>
                    </div>
                </div>
            </div>

        </th:block>
        <th:block th:if="${loggedUser.profile != null}">

            <div id="hi2" class="row">
                <div class="col s12 s12">
                    <div class="card-panel">
          <span class="white-text">
               <h2 class="hiUser">Welcome back <span th:text="${loggedUser.profile.firstName}"></span>! </h2>
              <p class="links"><a th:href="@{'/users/profile/' + ${loggedUser.id}} "><i class="fas fa-user-friends"></i> Go to your profile and start making friends!</a></p>
               <p class="links"><a th:href="@{'/meetups/'}"><i class="fas fa-calendar-alt"></i> Create or find meetups in your area!</a></p>
              <p class="links"><a th:href="@{'/browse/'}"><i class="fas fa-heart"></i> Explore our browse section for new friends with common traits or hobbies!</a></p>
          </span>
                    </div>
                </div>
            </div>

        </th:block>

</div>
</div>



<footer class="page-footer grey darken-3">
    <div class="row">
        <div class="col s6 s12">
            <h5 class="white-text">Battle Buddies</h5>
            <h6 style="text-align: left"><a th:href="@{'/about'}">About Us</a></h6>
        </div>
    </div>
</footer>


<!--    JQUERY-->

<script>
    $(".button-collapse").sideNav();
    // $('.carousel.carousel-slider').carousel({fullWidth: true});
    $('.parallax').parallax();


</script>
</body>
</html>