<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home</title>

    <th:block th:replace="fragments/header :: home-header"/>

</head>
<body>

<!--<div id="blue" class="block">-->
<div>
    <th:block th:replace="fragments/nav-bar :: home-blue"/>
</div>
<div id="main">
<div id="picgroup1">
<div class="col s6">
    <div class="background">

    </div>
</div>

<div class="col s6">
    <div id="pic2">

    </div>
</div>
</div>

<div class="col s6">
    <div id="pic3-right">

    </div>
</div>

<div class="col s6">
    <div id="pic4-right">

    </div>
</div>



    <div class="container mainC">

            <div class="col s6">
                <div class="card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Welcome to Battle Buddies!</span>
                        <p>It can be hard moving every few years, and Battle Buddies wants to make it easy for you to make new connections and friends along the way! </p>
                        <p>Battle Buddies provides a way to make new military friends in the area based off of common traits, goals, and local meetups all in one place just for you!</p>
                    </div>
                    <div class="card-action">
                        <a class="loginlink" th:href="@{'/login'}">Login or Sign up!</a>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    $(".button-collapse").sideNav();

    $(document).ready(function () {
        $('.pushpin-demo-nav').each(function () {
            var $this = $(this);
            var $target = $('#' + $(this).attr('data-target'));
            $this.pushpin({
                top: $target.offset().top,
                bottom: $target.offset().top + $target.outerHeight() - $this.height()
            });
        });
    });
</script>
</body>
</html>