<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${hobby.hobby}"></title>
    <th:block th:replace="fragments/header :: profile-header"/>

</head>
<body>
<h1 th:text="${hobby.hobby}"></h1>

<div class="container" >
    <div class="row" >
        <div class="col s4" th:each="profile: ${profiles}">
            <div class="card card-small">
                <div class="card-content">
                    <a th:href="@{'/users/profile/' + ${profile.getUser().id}}">
                        <span class="card-title" th:text="${profile.firstName + ' '+ profile.lastName}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>