<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Browse</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:500&display=swap" rel="stylesheet">

    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/nav-bar :: main-nav"/>

<div class="container" >
    <h1>Browse</h1>

    <!--TRAITS CARD-->
    <div class="row" >
        <div class="col s4" >
            <div class="card card-small">
                <div class="card-content">
                    <a th:href="@{'/browse/traits-index/'}">
                        <span class="card-title" >TRAITS</span>
                    </a>
                    <p>Find friends based on common character traits</p>
                </div>

            </div>
        </div>
    </div>

    <!--HOBBIES CARD-->
    <div class="row" >
        <div class="col s4">
            <div class="card card-small">
                <div class="card-content">
                    <a th:href="@{'/browse/hobbies-index/'}">
                        <span class="card-title" >HOBBIES</span>
                    </a>
                    <p>Find friends based on common hobbies</p>
                </div>

            </div>
        </div>
    </div>



    <!--LOCATION CARD-->

    <div class="row" >
        <div class="col s4">
            <div class="card card-small">
                <div class="card-content">
                    <a th:href="@{'/browse/locations-index/'}">
                        <span class="card-title" >LOCATIONS</span>
                    </a>
                    <p>Find different people based on location</p>
                </div>

            </div>
        </div>
    </div>

    <!--MEETUPS CARD-->

    <div class="row" >
        <div class="col s4">
            <div class="card card-small">
                <div class="card-content">
                    <a th:href="@{'/meetups/'}">
                        <span class="card-title" >MEET UPS</span>
                    </a>
                    <p>Find different meet ups and events</p>
                </div>

            </div>
        </div>
    </div>




    <div class="row" >
        <div class="col s4">
            <div class="card card-small">
                <div class="card-content">
                    <a th:href="@{'/browse/meetups-locations-index/'}">
                        <span class="card-title" >MEETUPS BY LOCATION</span>
                    </a>
                    <p>Find different meet ups based on location</p>
                </div>

            </div>
        </div>
    </div>

    <!--BRANCH CARD-->



    <!--RANK CARD-->
</div>
<script>
    $(".button-collapse").sideNav();
</script>


</body>
</html>