<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Browse Meetups by Locations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/browse-style.css">
    <style>
        .container{

            padding-top: 40px;
        }
    </style>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/nav-bar :: main-nav"/>
<div class="container" >
    <h1>Meetups by Location</h1>
    <div class="row" >
        <div class="col s4" th:each="location: ${locations}">
            <div class="card card-small">
                <div class="card-content">
                    <a class="dark-link" th:href="@{'/browse/meetups-locations/' + ${location.id}}">
                        <span class="card-title" th:text="${location.location}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer grey darken-3">
    <div class="row">
        <div class="col s6 s12">
            <h5 class="white-text">Battle Buddies</h5>
            <h6 style="text-align: left"><a th:href="@{'/about'}">About Us</a></h6>
        </div>
    </div>
</footer>
<script>
    $(".button-collapse").sideNav();
</script>

</body>
</html>